.swimlane-container {
  background-color: white;
}

.swimlane-lane {
  fill: #f0f0f0;
  fill-opacity: 0.6;
}

.swimlane-segment {
  fill: #b98b4f;
  fill-opacity: 0.7;
}

.swimlane-point {
  fill: #d54b5b;
}

.swimlane-tooltip {
  background-color: black;
  color: white;
}
