.swimlane-container {
  background-color: white;
}

.swimlane-lane {
  fill: #f0f0f0;
  fill-opacity: 0.6;
}

.swimlane-segment {
  fill: #9ac4f3;
  fill-opacity: 0.7;
}

.swimlane-point {
  fill: #D0021B;
}

.swimlane-tooltip {
  background-color: black;
  color: white;
}
